<div id="content-wrapper">
	<div id="appbar-placeholder" class="mui--appbar-height"></div>
	<div class="minigrid">
		<div class="minigrid__item minigrid__item--heading">
			<div class="minigrid__content"><h1 class="mui--text-display1">Фильмы без&#160;перевода</h1>
				<p class="mui--text-subhead">Факультативное посещение кино на&#160;английском&#160;&#8212; хороший метод развивать навыки аудирования</p>
			</div>
		</div>
		<div class="minigrid__item">
			<div class="minigrid__content"><h2 class="mui--text-title">Кинотеатр &#171;Звезда&#187;</h2></div>
			<div class="minigrid__illustration"><a href="./libs/serguei-muicss/img/sprite-english-through-movies/@2x/movies-zvezda-cinema.fw.jpg" class="img-lightbox-link" target="_blank" rel="lightbox" aria-label="Лайтбокс"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20480%20270%27%2F%3E" data-src="./libs/serguei-muicss/img/sprite-english-through-movies/@1x/movies-zvezda-cinema.fw.jpg" class="data-src-img" alt="" /></a></div>
			<div class="minigrid__content">
				<p class="dummy">В репертуаре новинки зарубежного и&#160;российского кинопроката, артхаус, анимационные фильмы, короткометражное кино. Проходят показы на&#160;языке оригинала с&#160;субтитрами, работают киноклубы. Стоимость билетов: 100&#8212;300&#160;рублей. Ул.&#160;Земляной вал, 18&#8212;22, стр.&#160;2, м. Курская. Телефон: 8&#160;(495)&#160;916-28-05. Часы&#160;работы: 9:00&#8212;21:30.</p>
				<p><a href="http://mos-kino.ru/cinema_1.html" class="mui-btn mui-btn--small mui-btn--raised ripple" target="_blank" rel="noopener noreferrer">Сайт кинотеатра</a></p>
			</div>
		</div>
		<div class="minigrid__item">
			<div class="minigrid__content"><h2 class="mui--text-title">Кинотеатр &#171;Факел&#187;</h2></div>
			<div class="minigrid__illustration"><a href="./libs/serguei-muicss/img/sprite-english-through-movies/@2x/movies-fakel-cinema.fw.jpg" class="img-lightbox-link" target="_blank" rel="lightbox" aria-label="Лайтбокс"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20480%20270%27%2F%3E" data-src="./libs/serguei-muicss/img/sprite-english-through-movies/@1x/movies-fakel-cinema.fw.jpg" class="data-src-img" alt="" /></a></div>
			<div class="minigrid__content">
				<p class="dummy">В репертуаре новинки зарубежного и&#160;российского кинопроката, артхаус, анимационные фильмы и&#160;авторская анимация, короткометражное кино. Проходят показы на&#160;языке оригинала с&#160;субтитрами. Стоимость билетов: 100&#8212;250&#160;рублей. Шоссе Энтузиастов, 15/16, м. Авиамоторная. Телефон: 8&#160;(495)&#160;362-12-19. Часы&#160;работы: 10:00&#8212;22:00.</p>
				<p><a href="http://mos-kino.ru/cinema_7.html" class="mui-btn mui-btn--small mui-btn--raised ripple" target="_blank" rel="noopener noreferrer">Сайт кинотеатра</a></p>
			</div>
		</div>
		<div class="minigrid__item">
			<div class="minigrid__content"><h2 class="mui--text-title">Кинотеатр &#171;Юность&#187;</h2></div>
			<div class="minigrid__illustration"><a href="./libs/serguei-muicss/img/sprite-english-through-movies/@2x/movies-yunost-cinema.fw.jpg" class="img-lightbox-link" target="_blank" rel="lightbox" aria-label="Лайтбокс"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20480%20270%27%2F%3E" data-src="./libs/serguei-muicss/img/sprite-english-through-movies/@1x/movies-yunost-cinema.fw.jpg" class="data-src-img" alt="" /></a></div>
			<div class="minigrid__content">
				<p class="dummy">В репертуаре&#160;&#8212; новинки кинопроката, зарубежные фестивальные картины на&#160;языке оригинала с&#160;субтитрами, российское авторское кино, анимационные фильмы и&#160;ретроспективы. Стоимость билета: 90&#160;&#8212; 300&#160;рублей. Ул.&#160;Маршала Рыбалко, &#188;, м. Октябрьское поле. Телефон: 8&#160;(499)&#160;194-24-30. Часы работы: 09:00&#8212;22:00.</p>
				<p><a href="http://mos-kino.ru/cinema_24.html" class="mui-btn mui-btn--small mui-btn--raised ripple" target="_blank" rel="noopener noreferrer">Сайт кинотеатра</a></p>
			</div>
		</div>
		<div class="minigrid__item">
			<div class="minigrid__content"><h2 class="mui--text-title">Киноэпизоды на&#160;Vimeo</h2></div>
			<div class="minigrid__illustration"><a href="https://vimeo.com/album/3325167" target="_blank" rel="noopener noreferrer"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20360%27%2F%3E" data-src="./libs/serguei-muicss/img/sprite-english4free-banner/@1x/english4free-banner-vimeo-640x360.jpg" class="data-src-img" alt="" /></a></div>
			<div class="minigrid__content">
				<p class="dummy">Киноэпизоды художественных фильмов, специально подобранных для тренировки по&#160;аудированию. Имейте в&#160;виду, что реальная речь необязательно исключительно правильная и&#160;грамотная.</p>
			</div>
		</div>
		<!-- <div class="minigrid__item">
			<div class="minigrid__content"><h2 class="mui--text-title">Киноэпизоды на&#160;Youtube</h2></div>
			<div class="minigrid__illustration"><a href="https://www.youtube.com/playlist?list=PLAI3yGNF4j7cAodGWAb5BtHUtEM1l5nA-" target="_blank" rel="noopener noreferrer"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20360%27%2F%3E" data-src="./libs/serguei-muicss/img/sprite-english4free-banner/@1x/english4free-banner-youtube-640x360.jpg" class="data-src-img" alt="" /></a></div>
			<div class="minigrid__content">
				<p class="dummy">Киноэпизоды художественных фильмов, специально подобранных для тренировки по&#160;аудированию. Имейте в&#160;виду, что реальная речь необязательно исключительно правильная и&#160;грамотная.</p>
			</div>
		</div> -->
		<!-- <div class="minigrid__item minigrid__item--skeleton">
			<blockquote class="instagram-media" data-instgrm-captioned data-instgrm-permalink="https://www.instagram.com/p/BhQyogYHvRS/" data-instgrm-version="8" style="background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:100%;"></blockquote>
		</div> -->
		<!-- <div class="minigrid__item minigrid__item--skeleton">
			<blockquote class="instagram-media" data-instgrm-captioned data-instgrm-permalink="https://www.instagram.com/p/BiRxY7Un1DE/" data-instgrm-version="8" style="background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:100%;"></blockquote>
		</div> -->
		<div class="minigrid__item minigrid__item--copyright">
			<div class="minigrid__content"><h3 class="mui--text-subhead">Правовые положения</h3>
				<p class="mui--text-caption">Все рекламные предложения не&#160;являются публичной офертой или приглашением к&#160;вступлению в&#160;правоотношения.</p>
				<h3 class="mui--text-subhead">Принадлежность</h3>
				<p class="mui--text-caption">Автор и&#160;владелец данного интернет-ресурса не&#160;имеет отношения к&#160;представленным товарам или услугам, бизнесам, на&#160;ресурсы которых размещены ссылки; не&#160;получает комиссии или гонорары за&#160;рекомендации, никак не&#160;связан с&#160;продавцами упомянутых наименований.</p>
				<h3 class="mui--text-subhead">Иcходный код</h3>
				<p class="mui--text-caption"><a href="https://github.com/englishextra/" target="_blank" rel="noopener noreferrer">github.com/englishextra</a></p>
				<h3 class="mui--text-subhead">Использование</h3>
				<p class="mui--text-caption">
					<a href="/terms.html">Соглашение</a>
					&#160;&#160; <a href="/policy.html">Политика</a>
					&#160;&#160; <a href="mailto:" onclick="var a='mailto',b=':',c='englishextra2',k='%40',q='yahoo',s='.',v='com';this.href=a+b+c+k+q+s+v;">&#169;&#160;2021&#160;englishextra</a>
				</p>
				<table style="border:none;">
					<caption></caption>
					<tbody>
						<tr>
							<td class="mui--text-caption" style="border:none;padding:0;width:5.500rem;">
								<svg role="img" focusable="false" style="display:inline-block;width:5.500rem;height:1.938rem;">
									<use xlink:href="#custom-by-nd-88x31"></use>
								</svg>
							</td>
							<td class="mui--text-caption" style="border:none;padding:0;">&#160;&#160;&#160;&#160;</td>
							<td class="mui--text-caption" style="border:none;padding:0;">
								Это произведение доступно по&#160;<a href="https://creativecommons.org/licenses/by-nd/4.0/deed.ru" rel="license" target="_blank">лицензии Creative Commons С&#160;указанием авторства-Без&#160;производных&#160;4.0 Всемирная</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<template>
	<footer id="footer">
		<div class="mui-container-fluid">
			<div class="mui-row">
				<div class="mui-col-md-10 mui-col-md-offset-1 mui-col-sm-12 mui-col-sm-offset-0">
					<div class="mui-col-xs-12 mui-col-md-12 mui-col-lg-12 mui-col-xl-12">
					</div>
				</div>
			</div>
		</div>
	</footer>
</template>
